*, *:before, *:after {
  box-sizing: border-box;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
}

.container {
  width: 1000px;
  margin: 0 auto;
  position: relative;
}

.header {
  width: 100%;
  background: #ffffff;
  box-shadow: 0 1px 0 rgba(255, 255, 255, 0.08);
  border-bottom: 1px solid rgba(0, 0, 0, 0.05);
  color: #fff;
  padding: 12px;
  position: fixed;
  top: 0;
  z-index: 99999;
}

.header .logo {
  width: 113px;
  height: 39px;
  background-image: url('../img/logo.png');
  display: inline-block;
  vertical-align: middle;
  margin-right: 20px;
}

.header input {
  display: inline-block;
  vertical-align: middle;
  border: none;
  border-left: 1px solid rgba(47, 52, 64, 0.1);
  min-width: 800px;
  width: auto;
  padding: 6px 18px;
  outline: none;
}

.map {
  margin-top: 120px;
  background: url('../img/map.png') left top no-repeat;
  width: 968px;
  height: 818px;
}

.arrow {
  position: absolute;
  background: #e2ccbc;
}

.arrow.top {
  top: 1px;
  left: 50%;
}

.arrow.bottom {
  bottom: 1px;
  left: 50%;
}

.arrow.left {
  top: 50%;
  left: -8px;
}

.arrow.right {
  top: 50%;
  right: -31px;
}

.arrow:after {
  bottom: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(226, 204, 188, 0);
  border-bottom-color: #e2ccbc;
  border-width: 8px;
  margin-left: -8px;
}

.arrow.bottom:after {
  top: 100%;
  left: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(226, 204, 188, 0);
  border-top-color: #e2ccbc;
  border-width: 8px;
  margin-left: -8px;
}

.arrow.left:after {
  right: 100%;
  top: 50%;
  border: solid transparent;
  content: " ";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(226, 204, 188, 0);
  border-right-color: #e2ccbc;
  border-width: 8px;
  margin-top: -8px;
}

.arrow.right:after {
  left: 100%;
  top: 50%;
  border: solid transparent;
  content: "";
  height: 0;
  width: 0;
  position: absolute;
  pointer-events: none;
  border-color: rgba(226, 204, 188, 0);
  border-left-color: #57585B;
  border-width: 8px;
  margin-top: -8px;
}

.sign {
  text-align: right;
  position: absolute;
  padding: 8px 15px;
  background-color: #e2ccbc;
  font-size: 12px;
  color: rgba(0,0,0, 0.8);
  text-transform: uppercase;
  font-family: 'Century Gothic', 'Helvetica Neue', Helvetica, Arial, sans-serif;
  font-weight: 500;
  margin-bottom: 10px;
}

.sign:before {
  content: '';
  position: absolute;
  right: -24px;
  top: 0;
  height: 32px;
  width: 32px;
  background: #57585B;
}

.sign:after {
  content: '';
  position: absolute;
  right: -24px;
  top: 0;
  height: 32px;
  width: 32px;
  background-position: center center;
  background-size: 50%;
  background-repeat: no-repeat;
}

.abc { left: 40px; top: 90px; }
.abc:after { background-image: url('../img/abc.png'); }

.star69 { left: 235px; top: 475px; }
.star69:after { background-image: url('../img/star69.png'); }

.ballpoint { left: 212px; top: 90px; }
.ballpoint:after { background-image: url('../img/ballpoint.png'); background-size: 40%; }

.call-waiting { left: 110px; top: 350px; }
.call-waiting:after { background-image: url('../img/call-waiting.png'); background-size: 40%; }

.dial-tone { left: 213px; top: 620px; }
.dial-tone:after { background-image: url('../img/dial-tone.png'); }

.hieroglyph { left: 295px; top: 183px; }
.hieroglyph:after { background-image: url('../img/hieroglyph.png'); background-size: 40%; }

.hypertext { left: 585px; top: 65px; }
.hypertext:after { background-image: url('../img/hypertext.png'); }

.morse-code { left: 470px; top: -45px; }
.morse-code:after { background-image: url('../img/morse-code.png'); background-size: 40%; }

.phone-home { left: 62px; top: 250px; }
.phone-home:after { background-image: url('../img/phone-home.png'); }

.pony-express { left: 496px; top: 627px; }
.pony-express:after { background-image: url('../img/pony-express.png'); background-size: 40%; }

.rosetta-stone { left: 830px; top: 696px; }
.rosetta-stone:after { background-image: url('../img/rosetta-stone.png'); background-size: 33%; }

.smoke-signal { left: 428px; top: 760px; }
.smoke-signal:after { background-image: url('../img/smoke-signal.png'); background-size: 40%; }

.sputnik { left: 255px; top: 760px; }
.sputnik:after { background-image: url('../img/sputnik.png'); }

.telegram { left: 65px; top: 695px; }
.telegram:after { background-image: url('../img/telegram.png'); }

.wall-street { left: 90px; top: -45px; }
.wall-street:after { background-image: url('../img/wall-street.png'); background-size: 25%; }

@media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) { 
  .header .logo {
    background-image: url('../img/logo@2x.png');  
    background-size: 100% 100%;
  }

  .map {
    background: url('../img/map@2x.png');
    background-size: 100%;
  }
}